<ion-header>
  <ion-toolbar>
    <ion-title>accordian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
       <ion-label>Suzuki</ion-label>
    </ion-item>
    <div slot="content">
      Swift
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
       <ion-label>Nexa</ion-label>
    </ion-item>
    <div slot="content">
      Baleno
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
       <ion-label>Kia</ion-label>
    </ion-item>
    <div slot="content">
      Seltos
    </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
