<ion-header>
  <ion-toolbar>
    <ion-title>skeleton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="loaded">
    <ion-list-header>Albums</ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" name="musical-notes"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Abbey Road</h3>
        <p>The Beatles</p>
        <p>1969</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="!loaded">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-button (click)="loaded = !loaded">Toggle</ion-button>

  <h2>spinner</h2>
  <ion-item>
    <ion-label>
      spinner 1
    </ion-label>
    <ion-spinner>
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 1.1
    </ion-label>
    <ion-spinner name="dots">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label >
      spinner 2
    </ion-label>
    <ion-spinner name="lines">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 3
    </ion-label>
    <ion-spinner name="lines-small">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 4
    </ion-label>
    <ion-spinner name="lines-sharp">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 5
    </ion-label>
    <ion-spinner name="lines-sharp-small">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 6
    </ion-label>
    <ion-spinner name="bubbles">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 7
    </ion-label>
    <ion-spinner name="circles">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 8
    </ion-label>
    <ion-spinner name="circular">
    </ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>
      spinner 9
    </ion-label>
    <ion-spinner name="crescent">
    </ion-spinner>
  </ion-item>

</ion-content>
