<ion-header>
  <ion-toolbar>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="">
<ion-card-header>
<ion-card-title>Cartoon</ion-card-title>
<ion-card-subtitle>yellow</ion-card-subtitle>
</ion-card-header>
<ion-card-content>Minions are HD cartoon wallpapers ; 1080x2400px Cartoon, amoled, HD phone wallpaper ; 1080x1920px Cartoon Dark, black, simple, HD phone wallpaper ; 1440x3040px Detective ...
  , cartoon, HD phone... · , cartoon, HD wallpaper ·  · </ion-card-content>
</ion-card>

<div>
  <ion-item>  <ion-checkbox></ion-checkbox> <ion-label>I accept all condition.</ion-label></ion-item>
</div>

<div>
  <ion-chip [outline]="true" color="primary">Apple </ion-chip>
  <ion-chip>Banana </ion-chip>
  <ion-chip>Mango </ion-chip>
</div>
</ion-content>
