<ion-header>
  <ion-toolbar>
    <ion-title>radio-btn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-radio-group value="mango">
  <ion-radio value="mango"> Mango</ion-radio>
  <br>
  <ion-radio value="apple"> Apple</ion-radio>
  <br>
  <ion-radio value="banana"> Banana</ion-radio>
  <br>
  <ion-radio value="orange"> Orange</ion-radio>
  <br>
</ion-radio-group>

<h2>Ion range</h2>
<ion-range area-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter">

</ion-range> -->

<ion-refresher slot="fixed" (ionRefresh)="runRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<h2>Refresh</h2>
</ion-content>
