<ion-header>
  <ion-toolbar>
    <ion-title>picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-fab slot="fixed" horizontal="center" vertical="center">
  <ion-fab-button>
    <ion-icon name="add">
      
    </ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab slot="fixed" horizontal="start" vertical="top">
  <ion-fab-button>
    <ion-icon name="add">
      
    </ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab slot="fixed" horizontal="end" vertical="top" [edge]="true">
  <ion-fab-button>
    <ion-icon name="add">
      
    </ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab slot="fixed" horizontal="end" vertical="bottom" >
  <ion-fab-button >
    <ion-icon name="add">
      
    </ion-icon>
  </ion-fab-button>
<ion-fab-list side="start">
  <ion-fab-button >
    <ion-icon name="document">   
    </ion-icon>
  </ion-fab-button>
  <ion-fab-button >
    <ion-icon name="globe">   
    </ion-icon>
  </ion-fab-button>
  <ion-fab-button >
    <ion-icon name="color-palette">
    </ion-icon>
  </ion-fab-button>
</ion-fab-list>
</ion-fab> -->

<ion-grid>
  <ion-row>
    <ion-col> Hello</ion-col>
    <ion-col> Gayatri</ion-col>
    <ion-col> Gayatri</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> Hello</ion-col>
    <ion-col> Hello</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> Hello</ion-col>
    <ion-col> Hello</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> Hello</ion-col>
    <ion-col> Hello</ion-col>
  </ion-row>
</ion-grid>
<h1>{{fname}}</h1>
</ion-content>
